<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Group_17">
        <activity
            android:name=".Screens.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.RegistrationScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".Screens.StudentRegScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".Screens.TutorRegScreen"
            android:exported="false">
        </activity>
        <activity
            android:name=".Screens.TutorRegScreen2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Screens.UserScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminFunctions.AdminInbox"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminFunctions.PendingRequests"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminFunctions.RejectedRequests"
            android:exported="true">
        </activity>
    </application>

</manifest>